@model Autozam.Models.LocalPasswordModel

<p>
    Nie posiadasz lokalnego hasła dla tej strony, Dodaj hasło lokalne, aby móc logować się do systemu bez loginu zewnętrznego.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formularz ustalania hasła</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Ustal hasło" />
    </fieldset>
}
